<p>
  <b>First Name:</b>
  <%= @contract.signer.first_name %>
  <%= @contract.signer.last_name %>
</p>
<p>
  <b>Minor:</b>
  <%= @contract.signer.cosigner %>
</p>

<p>
  <%=@contract.boilerplate %>
</p>

<p>
  <img src="<%=@contract.signature %>" />
</p>

<p>
  <b>Date Signed:</b>
  <%=h @contract.datesigned %>
<br/>
  <b>Hash:</b>
  <%=h @contract.signinghash %>
<br/>
  <b>Verification:</b>
  <%=Digest::SHA1.hexdigest @contract.boilerplate+@contract.signature+@contract.datesigned.to_s%>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
