<h1>Listing contract_templates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Boilerplate</th>
  </tr>

<% @contract_templates.each do |contract_template| %>
  <tr>
    <td><%=h contract_template.name %></td>
    <td><%= truncate(contract_template.boilerplate, :length => 1000) %></td>
    <td><%= link_to 'Show', contract_template %></td>
    <td><%= link_to 'Edit', edit_contract_template_path(contract_template) %></td>
    <td><%= link_to 'Destroy', contract_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contract_template', new_contract_template_path %>
